section#faq.faq {
  padding-top: 5rem;
  padding-bottom: 5rem;

  p.faq-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #111827;
  }

  p.faq-text {
    line-height: 1.25rem;
    color: #6B7280;
  }
}