section.about#about {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: rgba(17, 24, 39, 1);

  p.about-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: #FFFFFF;
  }

  p.about-text {
    color: #9CA3AF;
    line-height: 1.5rem;

    span {
      color: #3B82F6;
    }
  }
}