section.review#review {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #111827;

  h1.review-title {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: rgba(255, 255, 255, 1);
  }
}